<div class="jumbotron center">
	<h2>Keep track of your days in Canada with ease</h2>
		<p><%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
		<p>Already have an account? <%= link_to "Sign in", new_user_session_path %></p>
</div><!-- /.jumbotron>