<div class="jumbotron center">
	<h2>Keep track of your days in Canada with ease</h2>
		<p><%= link_to "Sign Up Now", '#', class: "btn btn-primary btn-lg" %></p>
		<p>Already have an account? <%= link_to "Sign in", '#' %></p>
</div><!-- /.jumbotron>