<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>If you did not register for an account on 'Canada Time Tracker', please disregard this email.</p>
</p>
<p>Regards,</p>
<p>Canada Time Tracker Help</p>